@import models.AcquisitionValueModel
@import play.api.data._

@(acquisitionValueForm: Form[AcquisitionValueModel])(implicit request: Request[_])

@import views.html.helpers._

@main_template(Messages("calc.acquisitionValue.question")) {

    <a id="link-back" class="link-back" href="#">@Messages("calc.base.back")</a>

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @formInputMoney(acquisitionValueForm, "acquisitionValue", Messages("calc.acquisitionValue.question"))

    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

}