@import models.AnnualExemptAmountModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import play.api.data._

@(annualExemptAmountForm: Form[AnnualExemptAmountModel])(implicit request: Request[_])

@import views.html.helpers._

@sidebar = {
    <a id="helpLink1" href="https://www.gov.uk/capital-gains-tax/allowances" target="_blank">@Messages("calc.annualExemptAmount.link.one")</a>
}

@main_template(Messages("calc.annualExemptAmount.question"), sidebarLinks = Some(sidebar)) {

    <a id="link-back" class="link-back" href="@routes.CalculationController.otherProperties">Back</a>

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitAnnualExemptAmount) {

        @formInputMoney(annualExemptAmountForm, "annualExemptAmount", Messages("calc.annualExemptAmount.question"))

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}