@import models.CalculationElectionModel
@import views.html.helpers._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import play.api.data._

@(calculationElectionForm: Form[CalculationElectionModel])(implicit request: Request[_])

@main_template(Messages("calc.calculationElection.question"), articleLayout = false) {

    <a id="back-link" class="back-link" href="#">@Messages("calc.base.back")</a>

    <div class="grid-row">
        <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

        <p id="question-information">@Messages("calc.calculationElection.message")</p>
    </div>

    @govHelpers.form(action = routes.CalculationController.submitCalculationElection) {
        @calculationElectionHelperForm(
            field = calculationElectionForm("calculationElection"),
            Seq(
                "flat"->("1000.00", Messages("calc.calculationElection.message.flat"), None),
                "time"->("2000.00", Messages("calc.calculationElection.message.time"), Some(Messages("calc.calculationElection.message.timeDate"))),
                "rebased"->("3000.00", Messages("calc.calculationElection.message.rebased"), Some(Messages("calc.calculationElection.message.rebasedDate")))),
            '_labelClass -> "block-label")

        <div class="grid-row form-group">
            <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
        </div>
    }

    <details role="group">
        <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">@Messages("calc.calculationElection.message.whyMore")</span></summary>
        <div class="panel panel-indent" id="details-content-0" aria-hidden="true">
            <p>@Messages("calc.calculationElection.message.whyMoreDetails")</p>
        </div>
    </details>
}