@import models.CurrentIncomeModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import play.api.data._
@import views.html.helpers._

@(currentIncomeForm: Form[CurrentIncomeModel])(implicit request: Request[_])

@sidebar = {
    <ul>
        <li>
            <a id="helpLink1" href="https://www.gov.uk/income-tax/overview" target="_blank">@Messages("calc.currentIncome.link.one")</a>
        </li>
    </ul>
    <ul>
        <li>
            <a id="helpLink2" href="https://www.gov.uk/income-tax-rates/previous-tax-years" target="_blank">@Messages("calc.currentIncome.link.two")</a>
        </li>
    </ul>
}

@main_template(Messages("calc.currentIncome.question"), sidebarLinks = Some(sidebar)) {

    <a id="back-link" class="back-link" href="@routes.CalculationController.customerType">Back</a>

    @govHelpers.errorSummary(Messages("calc.error.summary.heading"), currentIncomeForm)

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitCurrentIncome) {

        @formInputMoney(currentIncomeForm, "currentIncome", Messages("calc.currentIncome.question"),Some(Messages("calc.currentIncome.helpText")))

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }

}
