@import models.CustomerTypeModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import play.api.data._
@import views.html.helpers._

@(customerTypeForm: Form[CustomerTypeModel])(implicit request: Request[_])

@main_template(title = Messages("calc.customerType.question")) {

  <a id="back-link" class="back-link" href="@routes.IntroductionController.introduction">@Messages("calc.base.back")</a>

  @govHelpers.errorSummary(Messages("calc.error.summary.heading"), customerTypeForm)

  <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1> 

  @govHelpers.form(action = routes.CalculationController.submitCustomerType) {

    <div class="form-group">
        @formInputRadioGroup(
            field = customerTypeForm("customerType"),
            Seq(
                "individual"->Messages("calc.customerType.individual"),
                "trustee"->Messages("calc.customerType.trustee"),
                "personalRep"->Messages("calc.customerType.personalRep")),
            '_legend -> Messages("calc.customerType.question"),
            '_labelClass -> "block-label",
            '_legendID -> "customerType"
        )
    </div>

    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
  }
}
