@import models.CustomerTypeModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import play.api.data._

@(customerTypeForm: Form[CustomerTypeModel])(implicit request: Request[_])

@main_template(title = Messages("calc.customerType.question")) {

  <a class="link-back" href="@routes.IntroductionController.introduction">Back</a>

  <h1>@Messages("calc.base.pageHeading")</h1>

  @govHelpers.form(action = routes.CalculationController.customerType) {

    <div class="form-group">
        @govHelpers.inputRadioGroup(
            field = customerTypeForm("customerType"),
            Seq(
                "individual"->Messages("calc.customerType.individual"),
                "trustee"->Messages("calc.customerType.trustee"),
                "personalRep"->Messages("calc.customerType.personalRep")),
            '_legend -> Messages("calc.customerType.question"),
            '_labelAfter -> true,
            '_labelClass -> "block-label"
        )
    </div>

    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
  }
}