@import models.DisposalValueModel
@import views.html.helpers._
@import play.api.data._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(disposalValueForm: Form[DisposalValueModel])(implicit request: Request[_])

@main_template(Messages("calc.disposalValue.question")) {
    <a id="back-link" class="back-link" href="@routes.CalculationController.improvements">@Messages("calc.base.back")</a>

    @govHelpers.errorSummary(Messages("calc.error.summary.heading"), disposalValueForm)

    <h1 class="heading-large">@Messages("calc.base.calculate.tax.heading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitDisposalValue) {

        @formInputMoney(disposalValueForm, "disposalValue", Messages("calc.disposalValue.question"))

        <button id="continue-button" class="button">@Messages("calc.base.button.continue")</button>

    }
}