@import models.DisposalCostsModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers._

@(disposalCostsForm: Form[DisposalCostsModel])(implicit request: Request[_])

@main_template(Messages("calc.disposalCosts.question")) {

    <a id="back-link" class="back-link" href="@routes.CalculationController.acquisitionCosts">Back</a>

    @govHelpers.errorSummary(Messages("calc.error.summary.heading"), disposalCostsForm)

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitDisposalCosts) {

        @formInputMoney(disposalCostsForm, "disposalCosts", Messages("calc.disposalCosts.question"))

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }
}