@import play.api.data._
@import views.html.helpers._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(disposalDateForm: Form[DisposalDateModel])(implicit request: Request[_])

@main_template(Messages("calc.disposalDate.question")) {

    <a id="back-link" class="back-link" href="@routes.CalculationController.improvements">@Messages("calc.base.back")</a>

    <h1 class="heading-large">@Messages("calc.base.calculate.tax.heading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitDisposalDate) {

        @formInlineDateInput(disposalDateForm, "disposalDate", Messages("calc.disposalDate.question"))

        <button id="continue-button" class="button">@Messages("calc.base.button.continue")</button>

    }
}