@import models._
@import constructors._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers._

@(improvementsForm: Form[ImprovementsModel], rebasedValueModel: RebasedValueModel)(implicit request: Request[_])

@main_template(Messages("calc.improvements.question")) {

    <a id="back-link" class="back-link" href="#">@Messages("calc.base.back")</a>

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitImprovements) {

        @ImprovementsConstructor.generateImprovements(improvementsForm, rebasedValueModel)

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>
    }

}