@()(implicit request: Request[_])

@import views.html.helpers._

@main_template(Messages("calc.improvements.question")) {

    <a id="link-back" class="link-back" href="#">@Messages("calc.base.back")</a>

    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

    @hiddenYesNoRadio("improvementsCheck", Messages("calc.improvements.question"), simpleInputMoney("improvements", Messages("calc.improvements.questionTwo")).toString(), Option(Messages("calc.improvements.help")))

    <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

}