@import models.OtherReliefsModel
@import models.CalculationResultModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers._

@(otherReliefsForm: Form[OtherReliefsModel], result: CalculationResultModel)(implicit request: Request[_])

@main_template(Messages("calc.otherReliefs.question")) {
    <a id="back-link" class="back-link" href="@routes.CalculationController.allowableLosses">@Messages("calc.base.back")</a>
    <h1 class="heading-large">@Messages("calc.base.calculate.tax.heading")</h1>

    @govHelpers.form(action = routes.CalculationController.submitOtherReliefsRebased) {

        <label for="otherReliefs">@Messages("calc.otherReliefs.question")</label>

        <div class="panel-indent">
            <ul class="list list-bullet">
                <li id="totalGain">&pound;@{result.totalGain.setScale(2).toString}<br><span class="font-xsmall">@Messages("calc.otherReliefs.totalGain")</span></li>

                <li id="taxableGain">&pound;@{{result.taxableGain}.setScale(2).toString}<br><span class="font-xsmall">@Messages("calc.otherReliefs.taxableGain")</span></li>
            </ul>
        </div>

        @formInputMoney(otherReliefsForm, "otherReliefs", "")

        <button id="add-relief-button" class="button">@Messages("calc.otherReliefs.button.addRelief")</button>
    }
}