@()(implicit request: Request[_])
@import views.html.helpers._

@main_template(Messages("calc.otherReliefs.question")) {
    <a id="link-back" class="link-back" href="@routes.CalculationController.allowableLosses">@Messages("calc.base.back")</a>
    <h1 class="heading-large">@Messages("calc.base.calculate.tax.heading")</h1>

    @simpleInputMoney("otherReliefs", Messages("calc.otherReliefs.question"))

    <button id="continue-button" class="button">@Messages("calc.base.button.continue")</button>
}