@import models.RebasedValueModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers._

@(rebasedValueForm: Form[RebasedValueModel])(implicit request: Request[_])

@main_template(Messages("calc.rebasedValue.question")) {
    <a id="back-link" class="back-link" href="#">Back</a>
    <h1 class="heading-large">@Messages("calc.base.pageHeading")</h1>

        @govHelpers.form(action = routes.CalculationController.submitRebasedValue) {

        @formHiddenYesNoRadio(
                rebasedValueForm,
                "hasRebasedValue",
                Messages("calc.rebasedValue.question"),
                formInputMoney(
                        rebasedValueForm,
                        "rebasedValueAmt",
                        Messages("calc.rebasedValue.questionTwo")
                )
        )

        <button class="button" type="submit" id="continue-button">@Messages("calc.base.continue")</button>

    }
}