@(summary: SummaryModel, result: CalculationResultModel, backUrl: String)(implicit request: Request[_])

@import views.html.helpers._
@import org.apache.commons.lang3.text.WordUtils
@import java.text.SimpleDateFormat
@import java.util.Date
@import java.util.GregorianCalendar
@import constructors._
@import common._

@main_template(Messages("calc.summary.title"), articleLayout = false) {

    <a id="back-link" class="back-link" href="@backUrl">@Messages("calc.base.back")</a>

    @*
    *  Calculated Tax Owed
    *@
    <div>
        <h1 class="heading-xlarge heading-xxlarge">
            <span class="heading-secondary">@Messages("calc.summary.secondaryHeading")</span>
            <b>&pound;@result.taxOwed.setScale(2)</b>
        </h1>
    </div>

    @{if (Dates.dateInsideTaxYear(summary.disposalDateModel.day, summary.disposalDateModel.month, summary.disposalDateModel.year)) {}
    else {
        taxYearWarningNotice()
    }}

    <div class=font-medium">

    @SummaryConstructor.calculationDetails(result, summary)

    @SummaryConstructor.personalDetails(result, summary)

    @SummaryConstructor.acquisitionDetails(result, summary)

    @SummaryConstructor.propertyDetails(result, summary)

    @SummaryConstructor.saleDetails(result, summary)

    @SummaryConstructor.deductions(result, summary)

    </div>


    <div class="grid-layout__column grid-layout__column--2-3">

        @*
        *  What to do next
        *@
        <div id="whatToDoNext" class="form-group">
            <h2 class="heading-medium">@Messages("calc.common.next.actions.heading")</h2>
            <p>
                @Messages("calc.summary.next.actions.text")
                <a class="external-link" rel="external" href="#">@Messages("calc.summary.next.actions.link")</a>
            </p>
        </div>

        @*
        *  Start Again
        *@
        <a id="startAgain" class="bold-medium" href="@routes.CalculationController.restart">@Messages("calc.summary.startAgain")</a>

    </div>
}