@(summary: SummaryModel, result: CalculationResultModel)(implicit request: Request[_])

@import views.html.helpers._
@import org.apache.commons.lang3.text.WordUtils
@import java.text.SimpleDateFormat
@import java.util.Date
@import java.util.GregorianCalendar

@main_template(Messages("calc.summary.title"), articleLayout = false) {

    <a id="back-link" class="back-link" href="#">@Messages("calc.base.back")</a>

    @*
    *  Calculated Tax Owed
    *@
    <div>
        <h1 class="heading-xlarge heading-xxlarge">
            <span class="heading-secondary">@Messages("calc.summary.secondaryHeading")</span>
            <b>&pound;@result.taxOwed.setScale(2)</b>
        </h1>
    </div>

     @*
     *  Calculation Details Section
     *@
     @summaryPageSection("calcDetails",Messages("calc.summary.calculation.details.title"),
        result.upperTaxGain match {
            case Some(data) => Array(
                Map(
                    "question" -> Messages("calc.summary.calculation.details.totalGain"),
                    "answer" -> ("&pound;" + result.totalGain.setScale(2).toString)),
                Map(
                    "question" -> Messages("calc.summary.calculation.details.taxableGain"),
                    "answer" -> ("&pound;" + (result.baseTaxGain + result.upperTaxGain.get).setScale(2).toString)),
                Map(
                    "question" -> Messages("calc.summary.calculation.details.taxRate"),
                    "answer" -> ("&pound;" + result.baseTaxGain.setScale(2).toString + " at " + result.baseTaxRate + "%")),
                Map(
                    "question" -> "",
                    "answer" -> ("&pound;" + result.upperTaxGain.get.setScale(2).toString + " at " + result.upperTaxRate.get.toString + "%"))
            )
            case None => Array(
                Map(
                    "question" -> Messages("calc.summary.calculation.details.totalGain"),
                    "answer" -> ("&pound;" + result.totalGain.setScale(2).toString)),
                Map(
                    "question" -> Messages("calc.summary.calculation.details.taxableGain"),
                    "answer" -> ("&pound;" + (result.baseTaxGain + result.upperTaxGain.getOrElse(0)).setScale(2).toString)),
                Map(
                    "question" -> Messages("calc.summary.calculation.details.taxRate"),
                    "answer" -> (result.baseTaxRate + "%"))
            )
        }
     )


    @*
    *  Personal Details Section
    *@
    @summaryPageSection("personalDetails",Messages("calc.summary.personal.details.title"),
        summary.customerTypeModel.customerType match {
            case "trustee" =>Array(
                Map(
                    "question" -> Messages("calc.customerType.question"),
                    "answer" -> WordUtils.capitalize(summary.customerTypeModel.customerType)),
                Map(
                    "question" -> Messages("calc.disabledTrustee.question"),
                    "answer" -> summary.disabledTrusteeModel.get.isVulnerable),
                Map(
                    "question" -> Messages("calc.annualExemptAmount.question"),
                    "answer" -> ("&pound;" + (summary.annualExemptAmountModel match {
                        case Some(data) => data.annualExemptAmount.setScale(2).toString
                        case None => summary.disabledTrusteeModel.get.isVulnerable match {
                            case "Yes" => "11100.00"
                            case _ => "5050.00"
                        }
                    })))
            )
            case "individual" => Array(
                Map(
                    "question" -> Messages("calc.customerType.question"),
                    "answer" -> WordUtils.capitalize(summary.customerTypeModel.customerType)),
                Map(
                    "question" -> Messages("calc.currentIncome.question"),
                    "answer" -> ("&pound;" + summary.currentIncomeModel.get.currentIncome.setScale(2))),
                Map(
                    "question" -> Messages("calc.personalAllowance.question"),
                    "answer" -> ("&pound;" + summary.personalAllowanceModel.get.personalAllowanceAmt.setScale(2))),
                Map(
                    "question" -> Messages("calc.annualExemptAmount.question"),
                    "answer" -> ("&pound;" + (summary.annualExemptAmountModel match {
                        case Some(data) => data.annualExemptAmount.setScale(2).toString
                        case None => "11100.00"
                    })))
            )

            case _ => Array(
                Map(
                    "question" -> Messages("calc.customerType.question"),
                    "answer" -> WordUtils.capitalize(summary.customerTypeModel.customerType)),
                Map(
                    "answer" -> ("&pound;" + (summary.annualExemptAmountModel match {
                        case Some(data) => data.annualExemptAmount.setScale(2).toString
                        case None => "11100.00"
                    })))
            )
        }

    )


    @*
    *  Purchase Details Section
    *@
    @summaryPageSection("purchaseDetails",Messages("calc.summary.purchase.details.title"),
        Array(
            Map(
                "question" -> Messages("calc.acquisitionValue.question"),
                "answer" -> ("&pound;" + summary.acquisitionValueModel.acquisitionValueAmt.setScale(2).toString)),
            Map(
                "question" -> Messages("calc.acquisitionCosts.question"),
                "answer" -> ("&pound;" + (summary.acquisitionCostsModel.acquisitionCostsAmt match {
                    case Some(data) => data.setScale(2).toString
                    case None => "0.00"
                })))
        )
    )


    @*
    *  Property Details Section
    *@
    @summaryPageSection("propertyDetails",Messages("calc.summary.property.details.title"),
        summary.improvementsModel.improvementsAmt match {
            case Some(data) => Array(
                Map(
                    "question" -> Messages("calc.improvements.question"),
                    "answer" -> summary.improvementsModel.isClaimingImprovements),
                Map(
                    "question" -> Messages("calc.improvements.questionTwo"),
                    "answer" -> ("&pound;" + summary.improvementsModel.improvementsAmt.get.setScale(2)))
            )
            case None => Array(
                Map(
                    "question" -> Messages("calc.improvements.question"),
                    "answer" -> summary.improvementsModel.isClaimingImprovements)
            )
        }

    )


    @*
    *  Sale Details Section
    *@
    @summaryPageSection("saleDetails",Messages("calc.summary.sale.details.title"),
        Array(
            Map(
                "question" -> Messages("calc.disposalDate.question"),
                "answer" -> new SimpleDateFormat("dd MMMM yyyy").format(new GregorianCalendar(summary.disposalDateModel.year, summary.disposalDateModel.month - 1, summary.disposalDateModel.day).getTime)),
            Map(
                "question" -> Messages("calc.disposalValue.question"),
                "answer" -> ("&pound;" + summary.disposalValueModel.disposalValue.setScale(2).toString)),
            Map(
                "question" -> Messages("calc.disposalCosts.question"),
                "answer" -> ("&pound;" + (summary.disposalCostsModel.disposalCosts match {
                    case Some(data) => data.setScale(2).toString
                    case None => "0.00"
                })))
        )
    )


    @*
    *  Deductions Section
    *@
    @summaryPageSection("deductions",Messages("calc.summary.deductions.title"),
        Array(
            Map(
                "question" -> Messages("calc.entrepreneursRelief.question"),
                "answer" -> summary.entrepreneursReliefModel.entReliefClaimed),
            Map(
                "question" -> Messages("calc.allowableLosses.question.two"),
                "answer" -> ("&pound;" + (summary.allowableLossesModel.allowableLossesAmt match {
                    case Some(data) => data.setScale(2).toString
                    case None => "0.00"
                }))),
            Map(
                "question" -> Messages("calc.otherReliefs.question"),
                "answer" -> ("&pound;" + (summary.otherReliefsModel.otherReliefs match {
                    case Some(data) => data.setScale(2).toString
                    case None => "0.00"
                })))
        )
    )


    <div class="grid-layout__column grid-layout__column--2-3">

        @*
        *  What to do next
        *@
        <div id="whatToDoNext" class="form-group">
            <h2 class="heading-medium">@Messages("calc.common.next.actions.heading")</h2>
            <p>
                @Messages("calc.summary.next.actions.text")
                <a class="external-link" rel="external" href="#">@Messages("calc.summary.next.actions.link")</a>
            </p>
        </div>

        @*
        *  Start Again
        *@
        <a id="startAgain" class="bold-medium" href="@routes.IntroductionController.introduction">@Messages("calc.summary.startAgain")</a>

    </div>
}