@()(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html._

@views.html.main_template(title = Messages("calc.introduction.title"), bodyClasses = None) {

    <h1 class="heading-large">@Messages("calc.introduction.header")</h1>

    <p class="lede">@Messages("calc.introduction.lede") <span class="no-wrap">@Messages("calc.base.taxStart")</span>.</p>
    <p>@Messages("calc.introduction.textOne")</p>
    <p>@Messages("calc.introduction.textTwo")</p>

    <a id="start" href=@controllers.routes.CalculationController.customerType class="button button-start">@Messages("calc.introduction.start")</a>

    <h2 class="heading-medium">@Messages("calc.introduction.listOneTitle")</h2>
    <p>@Messages("calc.introduction.listOneText")</p>
    <ul class="list list-bullet">
        <li>@Messages("calc.introduction.listOneBulletOne")</li>
        <li>@Messages("calc.introduction.listOneBulletTwo")</li>
        <li>@Messages("calc.introduction.listOneBulletThree")</li>
    </ul>

    <h2 class="heading-medium">@Messages("calc.introduction.listTwoTitle")</h2>
    <p>@Messages("calc.introduction.listTwoText")</p>
    <ul class="list list-bullet">
        <li>@Messages("calc.introduction.listTwoBulletOne")</li>
        <li>@Messages("calc.introduction.listTwoBulletTwo")</li>
        <li>@Messages("calc.introduction.listTwoBulletThree")</li>
    </ul>

    <h2 class="heading-medium">@Messages("calc.introduction.listThreeTitle")</h2>
    <p>@Messages("calc.introduction.listThreeText")</p>
    <ul class="list list-bullet">
        <li>@Messages("calc.introduction.listThreeBulletOne")</li>
        <li>@Messages("calc.introduction.listThreeBulletTwo")</li>
        <li>@Messages("calc.introduction.listThreeBulletThree")</li>
        <li>@Messages("calc.introduction.listThreeBulletFour")</li>
    </ul>
}