@()(implicit request: Request[_])

@import helper._

@views.html.main_template(title = "Capital Gains Tax for non-residents", bodyClasses = None) {
    <div class="phase-banner-alpha">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a id="back" class="link-back" href="javascript: history.go(-1)">Back</a>

            <h1 class="heading-large" id="heading">Capital Gains Tax for non-residents</h1>

                <fieldset id="contentIntroduction" class="form-group inline">
                    <h2 class="form-group">
                        <p class="lede">Capital Gains Tax for non-residents came into effect on 5 April 2015.</p>
                        <p>If you make or lose money on a UK residential property after that date you need to tell HMRC about it.</p>
                        <p>You should let them know less than 30 days after you stop owning the property.</p>
                        <p>You can still be a non-resident if you live in the UK.  Read more about <a id="helpLink1" href="https://www.gov.uk/tax-foreign-income/residence" target="_blank">residence and tax</a>.</p>
                    </h2>
                    <h2 class="heading-medium">Residential properties</h2>
                    <p>Residential properties can be:</p>
                    <ul class="list list-bullet">
                        <li>houses</li>
                        <li>apartments</li>
                        <li>properties that haven't been built yet</li>
                    </ul>
                    <h2 class="heading-medium">Changing owners</h2>
                    <p>You no longer own a property when you either:</p>
                    <ul class="list list-bullet">
                        <li>sell it</li>
                        <li>give it away</li>
                        <li>swap it</li>
                        <li>get compensation if it's destroyed</li>
                    </ul>
                    <h2 class="heading-medium">Self-assessment</h2>
                    <p>You don't have to pay Capital Gains Tax straight away. You can do it as part of your self assessment return.</p>
                    <p>However you'll still need to let HMRC know about losses or gains within 30 days.</p>

                    <div>
                    </div>
                </fieldset>

                <a class="button" href="#" id="start">Start</a>

        </div>
    </div>

}