@(radioId: String, radioButtonValue: String, calculationValue: String, buttonMessage: String, buttonDateNoWrap: String = "")(implicit lang: play.api.i18n.Lang)

@radioParaId = @{radioId + "-para"}

<div class="grid-layout__column grid-layout__column--1-3">
    <div class="form-group">
        <label class="block-label" for=@radioId>
            <input id=@radioId type="radio" name="calculation" value=@radioButtonValue aria-expanded="false">
            <span class="bold-medium">&pound;@calculationValue</span>
            <p id=@radioParaId><span class="bold-xsmall block">@Messages("calc.calculationElection.based")</span>  @buttonMessage <span class="no-wrap">@buttonDateNoWrap</span></p>
        </label>

        <div class="panel panel-indent additional-option-block" style="display: none;">
            <a href="reliefs">@Messages("calc.calculationElection.otherRelief")</a>
        </div>
    </div>
</div>

