@(radioId: String, radioButtonValue: String, calculationValue: String, buttonMessage: String, buttonDateNoWrap: Option[String] = None)(implicit lang: play.api.i18n.Lang)

<div class="grid-layout__column grid-layout__column--1-3">
    <div class="form-group">
        <label class="block-label" for=@radioId>
            <input id=@radioId type="radio" name="calculation" value=@radioButtonValue aria-expanded="false">
            <span class="bold-medium">&pound;@calculationValue</span>
            <p><span class="bold-xsmall block">@Messages("calc.calculationElection.based")</span> @buttonMessage <span class="no-wrap">@buttonDateNoWrap</span></p>
        </label>

        <div class="panel panel-indent additional-option-block" style="display: none;">
            <a href="reliefs">Messages("calc.calculationElection.other")</a>
            <!-- <span class="bold-medium">&pound;0</span> -->
        </div>
    </div>
</div>

<!--Example use is below-->
<!--<div class="grid-layout grid-layout--stacked">-->
<!--You also need to include  articleLayout = false in the template!! -->
    <!--&lt;!&ndash;Idea here is to generate the helpers based on the response the calculation election screen receives.&ndash;&gt;-->
    <!--(with 'at' tags) calculationElectionHelper("radio-indent-1", "time", "1000.00", "Messages")-->
    <!--(with 'at' tags) @calculationElectionHelper("radio-indent-2", "flat", "2000.00", "More Messages")-->
    <!--(with 'at' tags) @calculationElectionHelper("radio-indent-3", "rebase", "3000.00", "More Messages", Option("With a place for a date too!"))-->
<!--</div>-->
