@(field: Field, radioOptions: Seq[(String, String, String, Option[String], String)], args: (Symbol, Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._

@elements = @{new FieldElements(field.id, field, null, args.toMap, lang) }
@fieldsetClass = {@elements.args.get('_groupClass)}
@labelAfter = @{ elements.args.get('_labelAfter).getOrElse(true).asInstanceOf[Boolean] }
<div class="@if(elements.hasErrors){ form-field--error}">

    <div class="grid-row">
        <div class="grid-layout grid-layout--stacked">
            <fieldset class="@fieldsetClass"
                @if(elements.args.get('_fieldsetAttributes).isDefined) {@elements.args.get('_fieldsetAttributes)}>
                @if(elements.args.get('_legend).isDefined) {
                    <legend @if(elements.args.get('_legendClass).isDefined) {class="@elements.args.get('_legendClass)"}
                            @if(elements.args.get('_legendID).isDefined) {id="@elements.args.get('_legendID)"}>
                        @elements.args.get('_legend)
                    </legend>
                }
                @if(elements.args.get('_helpText).isDefined) {
                    <span class="form-hint">
                        @elements.args.get('_helpText)
                    </span>
                }
                @elements.errors.map{error => <span class="error-notification">@Messages("calc.base.optionReqError")</span>}

                @radioOptions.map { case (value, amount, message, dateMessage, linkUrl) =>
                    @defining(s"${elements.field.name}-${value.toLowerCase.replace(" ","_")}")  { inputId =>
                        <div class="grid-layout__column grid-layout__column--1-3">
                            <div class="form-group">
                                <label for="@inputId"
                                    @elements.args.get('_labelClass).map{labelClass => class="@labelClass@field.value.filter( _ == value).map{_ => selected}"}>
                                    <input
                                        type="radio"
                                        id="@inputId"
                                        name="@elements.field.name"
                                        value="@value"
                                        aria-expanded="false"
                                        @elements.args.get('_inputClass).map{inputClass => class="@inputClass"}
                                        @if(elements.args.contains('_dataAttributes) ){ @elements.args.get('_dataAttributes)}
                                        @field.value.filter( _ == value).map{_ => checked="checked"}/>
                                    <span class="bold-medium">&pound;@amount</span>
                                    @defining(s"${value.toLowerCase.replace(" ","_")}-para") { radioParaId =>
                                        <p id="@radioParaId"><span class="bold-xsmall block">@Messages("calc.calculationElection.based")</span> @message <span class="no-wrap">@dateMessage</span></p>
                                    }
                                </label>

                                <div class="panel panel-indent additional-option-block" style="display: none;">
                                    <a href=@linkUrl>@Messages("calc.calculationElection.otherRelief")</a>
                                </div>
                            </div>
                        </div>
                    }
                }

            </fieldset>
        </div>
    </div>
</div>