@(formItem:Form[_], fieldName: String, questionText: String, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import uk.gov.hmrc.play.mappers.DateFields._
@import play.api.i18n._
@import uk.gov.hmrc.play.mappers.DateFormatSymbols._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import java.text.SimpleDateFormat

<fieldset class="form-group form-date" id="@fieldName-fieldset">

    @questionText

    <span class="form-hint">@Messages("calc.common.date.hint")</span>

    @simpleNoErrorInput(
        formItem(s"${fieldName}.day"),
        '_label -> Messages("calc.common.date.fields.day"),
        '_labelClass -> "form-group form-group-day",
        '_inputClass -> s"input--xxsmall input--no-spinner",
        '_maxlength -> "2"
    )

    @simpleNoErrorInput(
        formItem(s"${fieldName}.month"),
        '_label -> Messages("calc.common.date.fields.month"),
        '_labelClass -> "form-group form-group-month",
        '_inputClass -> s"input--xxsmall input--no-spinner",
        '_maxlength -> "2"
    )

    @simpleNoErrorInput(
        formItem(s"${fieldName}.year"),
        '_label -> Messages("calc.common.date.fields.year"),
        '_labelClass -> "form-group form-group-year",
        '_inputClass -> s"input--small input--no-spinner",
        '_maxlength -> "4"
    )

</fieldset>
