@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(form: Form[_], fieldName: String, questionText:String, content:Html, helpText:Option[String] = None)(implicit lang: play.api.i18n.Lang)

@hiddenClasses = @{if(form.errors.filter(_.key == "").length > 0) "form-field--error" else "" }

<div class="form-group" data-hidden='hidden'>

    @formInputRadioGroup(
        field = form(fieldName),
        Seq(
            "Yes"->Messages("calc.base.yes"),
            "No"->Messages("calc.base.no")),
        '_legend -> questionText,
        '_helpText -> helpText,
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )

    <div class="panel-indent" id='hidden' style="display: none">
        <div class="@hiddenClasses">
            @form.errors.filter(_.key == "").map { error => <span class="error-notification">@Messages(error.message)</span>}
            @content
        </div>
    </div>
</div>