@(fieldName: String, questionText: String)(implicit lang: play.api.i18n.Lang)

@dayElemId = @{fieldName + ".day"}
@monthElemId = @{fieldName + ".month"}
@yearElemId = @{fieldName + ".year"}

<fieldset class="form-group" id="@fieldName">
    <legend>@questionText</legend>
    <span class="form-hint">@Messages("calc.common.date.hint")</span>

<div class="form-date">
    <div class="form-group form-group-day">
        <label for="@dayElemId">@Messages("calc.common.date.fields.day")</label>
        <input class="form-control" id="@dayElemId" name="@dayElemId" type="text" pattern="[0-9]*" min="0" max="31">
    </div>
    <div class="form-group form-group-month">
        <label for="@monthElemId">@Messages("calc.common.date.fields.month")</label>
        <input class="form-control" id="@monthElemId" name="@monthElemId" type="text" pattern="[0-9]*" min="0" max="12">
    </div>
    <div class="form-group form-group-year">
        <label for="@yearElemId">@Messages("calc.common.date.fields.year")</label>
        <input class="form-control" id="@yearElemId" name="@yearElemId" type="text" pattern="[0-9]*" min="0">
    </div>
</div>
</fieldset>
