@import config.ApplicationConfig
@(title: String,
  sidebarLinks: Option[Html] = None,
  contentHeader: Option[Html] = None,
  bodyClasses: Option[String] = None,
  mainClass: Option[String] = None,
  scriptElem: Option[Html] = None)(mainContent: Html)(implicit request : Request[_])

@import uk.gov.hmrc.play.views.html.layouts

@serviceInfoContent = {}

@sidebarContent = {
    <h2 class=heading-medium">@Messages("calc.common.readMore")</h2>
    @sidebarLinks.get
}

@sidebar = {
    @if(sidebarLinks.isDefined) {
        @layouts.sidebar(sidebarContent, Some("sidebar"))
    }
}

@govuk_wrapper(appConfig = ApplicationConfig,
               title = title,
               mainClass = mainClass,
               bodyClasses = bodyClasses,
               sidebar = sidebar,
               contentHeader = contentHeader,
               mainContent = layouts.article(mainContent),
               serviceInfoContent = serviceInfoContent,
               scriptElem = scriptElem
)

